* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fa-solidfa-radiation {
    height: 15px;
    font-size: 15px;
    background-color: red;
}

a {
    text-decoration: none;
    color: skyblue;
}

#body {
    background-color: black;
}