// _variables.scss
$primary-color: skyblue;            // Color principal
$secondary-color: #ff4c4c;          // Color secundario para botones
$text-color: white;                  // Color del texto
$text-light: #bbb;                   // Color del texto ligero
$header-background: linear-gradient(180deg, rgb(0, 0, 0) 48%, rgb(65, 65, 65) 68%); // Fondo del header
$footer-background: #333;             // Fondo del footer
$background-color: #121212;           // Fondo del contenedor de tarjetas
$card-background: #1e1e1e;            // Fondo de las tarjetas
